<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magezero>
            <observability>
                <apm_enabled>0</apm_enabled>
                <apm_service_name></apm_service_name>
                <apm_environment>production</apm_environment>
                <apm_transaction_sample_rate>1.0</apm_transaction_sample_rate>
                <apm_span_events_enabled>1</apm_span_events_enabled>
                <apm_span_layout_enabled>1</apm_span_layout_enabled>
                <apm_span_plugins_enabled>0</apm_span_plugins_enabled>
                <apm_span_di_enabled>0</apm_span_di_enabled>
                <log_stream_enabled>0</log_stream_enabled>
                <log_stream_min_level>warning</log_stream_min_level>
                <log_stream_transport>stderr</log_stream_transport>
                <log_stream_direct_url></log_stream_direct_url>
                <log_stream_direct_index>magento-observability-logs</log_stream_direct_index>
                <log_stream_direct_api_key></log_stream_direct_api_key>
                <log_stream_direct_username></log_stream_direct_username>
                <log_stream_direct_password></log_stream_direct_password>
                <log_stream_direct_timeout_ms>500</log_stream_direct_timeout_ms>
                <log_stream_direct_verify_tls>1</log_stream_direct_verify_tls>
            </observability>
        </magezero>
    </default>
</config>
